/* Custom css goes here */

.navbar {
  padding: 10px;
  font-size: 15px;
  text-align: center;
  color: #141414;
}

.navbar-brand:hover {
  text-decoration: none;
}

.navbar-brand{
  padding-left: 15%;
}

.navbar-collapse {
  padding-right: 15%;
}

.navbar-nav > li {
  padding-left: 10px;
  padding-right: 10px;
}

.flex-column{
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.col-centered{
  float: none;
  margin: 0 auto;
}
