body{
    font: 400 15px/1.8 Lato, sans-serif;
    color: #000000;
    }
    
   .person {
    border: 5px solid transparent;
    width: 80%;
    height: 80%;
  }
  .person:hover {
    border-color: #000000;
  }

