<div
    style="width:900px; height: 480px; position: bottom; top: 0px;left: 0px; right: 0px; bottom: 0px; margin: auto; text-align: center; background-image: url(../assets/bg1.png); ">
    <br>
    <br>
    <h4 style="color: rgb(223,223,233)">Meet Our Team &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;</h4>
    <br>
    <br>
    <br>

    <div class="row">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="col-sm-2">
            <p style="color: rgb(0,148,193)">Full Stack</p>
            <a href="#demo" data-toggle="collapse">
                <img src="../assets/1.jpeg" class=" person" alt="Random Name" width="100" height="150">
            </a>
            <div id="demo" class="collapse">
                <p style="color: rgb(246,198,66)">Peiran Liu</p>
                <p></p>
            </div>
        </div>

        <div class="col-sm-2">
            <p style="color: rgb(0,148,193)">DB Admin</p>
            <a href="#demo1" data-toggle="collapse">
                <img src="../assets/2.png" class=" person" alt="Random Name" width="100" height="150">
            </a>
            <div id="demo1" class="collapse">
                <p style="color: rgb(246,198,66)">Din Khiieu Lanh</p>
                <p></p>
            </div>
        </div>
        <div class="col-sm-2">
            <p style="color: rgb(0,148,193)">Web Developer</p>
            <a href="#demo2" data-toggle="collapse">
                <img src="../assets/3.jpeg" class=" person" alt="Random Name" width="100" height="150">
            </a>
            <div id="demo2" class="collapse">
                <p style="color: rgb(246,198,66)">Heeyeong Kim</p>
                <p></p>
            </div>
        </div>
        <div class="col-sm-2">
            <p style="color: rgb(0,148,193)">Web Developer</p>
            <a href="#demo3" data-toggle="collapse">
                <img src="../assets/4.jpeg" class=" person" alt="Random Name" width="100" height="150">
            </a>
            <div id="demo3" class="collapse">
                <p style="color: rgb(246,198,66)">Hyojin Kim</p>
                <p></p>
            </div>
        </div>

        <div class="col-sm-2">
            <p style="color: rgb(0,148,193)">UI Desiger</p>
            <a href="#demo4" data-toggle="collapse">
                <img src="../assets/5.jpg" class=" person" alt="Random Name" width="100" height="150">
            </a>
            <div id="demo4" class="collapse">
                <p style="color: rgb(246,198,66)">Liwen Qiao</p>
                <p></p>
            </div>
        </div>
    </div>
</div>
