
<!--
/*
This Application Made for Emerging Technology COMP308_2019W
Peiran Liu - 300884514
Din Khiieu Lanh - 300960476
Liwen Qiao - 300907835
Heeyeong Kim - 300954759
Hyojin Kim - 300950009
 */

-->
<div style="max-width:600px; position: center; top: 0px;left: 0px; right: 0px; bottom: 0px; margin: auto; text-align: center">
    <img src="../assets/1.png" class="img-fluid" width="100%" height="100%">
</div>
<div style="max-width:800px; max-height: 100px; position: end; top: 0px;left: 0px; right: 0px; bottom: 0px; margin: auto; text-align: end">
    <h5 style="color: rgb(0,148,193)">Help development &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5>
    <h4 style="color: rgb(0,148,193)">by sharing your thoughts!</h4>
</div>

