
<!--
This Application Made for Emerging Technology COMP308_2019W
Heeyeong Kim
Hyojin Kim
Din Khiieu Lanh
Peiran Liu
Liwen Qiao

-->
<div
  style="width:900px; height: 480px; position: bottom; top: 0px;left: 0px; right: 0px; bottom: 0px; margin: auto; text-align: center; background-image: url(../assets/bg2.jpg); ">
  <div id="contact" class="container">
    <br>
    <br>
    <h3 style="color: rgb(0,148,193)">Contact</h3>
    <br>
    <p style="color: rgb(223,223,223)"><em>We love our fans!</em></p>
    <br>
    <div style="width:700px; height: 300px; top: 0px;left: 0px; right: 0px; bottom: 0px; margin: auto; text-align: center;">
      <div class="row">
        <div class="col-sm-4 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-8 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
      <br>
      <div class="row">
        <div class="col-md-12 form-group">
          <button class="btn pull-right" type="submit" style="background-color:rgb(0,148,193)">Send</button>
        </div>
      </div>
    </div>
  </div>
