<!--
/*
This Application Made for Emerging Technology COMP308_2019W
Peiran Liu - 300884514
Din Khiieu Lanh - 300960476
Liwen Qiao - 300907835
Heeyeong Kim - 300954759
Hyojin Kim - 300950009
 */

-->

<div
  class="container"
  style="max-width: 700px; margin: 0 auto; padding-top: 2%; padding-bottom: 5%"
>
  <h4 class=" text-center" style="color: rgb(0,148,193)">{{ title }}</h4>
  <div class="row justify-content-center">
    <div class="col-md-offset-3 col-md-8">
      <form action="" class="form">
        <div class="form-group">
          <label for="NameTextField"  style="color: rgb(0,148,193)" >Name</label>
          <input
            type="text"
            class="form-control"
            id="NameTextField"
            placeholder="Enter Survey Name"
            name="name"
            [(ngModel)]="survey.name"
            value="{{ survey.name }}"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="DescriptionTextField" style="color: rgb(0,148,193)">Description:</label>
          <input
            type="text"
            class="form-control"
            id="DescriptionTextField"
            placeholder="Enter Description"
            name="description"
            [(ngModel)]="survey.description"
            value="{{ survey.description }}"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="PriorityTextField" style="color: rgb(0,148,193)">Number Of Respondents</label>
          <input
            type="text"
            class="form-control"
            id="NumRespondTextField"
            placeholder="Enter Number Of Respondents"
            name="numberOfRespondents"
            [(ngModel)]="answers.length"
            value="{{ answers.length }}"
            readonly
          />
          <br>
          <label for="PriorityTextField" style="color: rgb(0,148,193)">Answers:</label>
        </div>
        <div class="form-group">
          <p>
            <a
              class="btn btn-secondary"
              data-toggle="collapse"
              href="#q1"
              role="button"
              aria-expanded="false"
              aria-controls="collapseExample"

            >
              {{ survey.question1 }}
            </a>
          </p>
          <div class="collapse" id="q1">
            <div class="card card-body">
              {{ q1 }}
            </div>
          </div>
        </div>
        <div class="form-group">
          <p>
            <a
              class="btn btn-secondary"
              data-toggle="collapse"
              href="#q2"
              role="button"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              {{ survey.question2 }}
            </a>
          </p>
          <div class="collapse" id="q2">
            <div class="card card-body">
              {{ q2 }}
            </div>
          </div>
        </div>
        <div class="form-group">
          <p>
            <a
              class="btn btn-secondary"
              data-toggle="collapse"
              href="#q3"
              role="button"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              {{ survey.question3 }}
            </a>
          </p>
          <div class="collapse" id="q3">
            <div class="card card-body">
              {{ q3 }}
            </div>
          </div>
        </div>
        <div class="form-group">
          <p>
            <a
              class="btn btn-secondary"
              data-toggle="collapse"
              href="#q4"
              role="button"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              {{ survey.question4 }}
            </a>
          </p>
          <div class="collapse" id="q4">
            <div class="card card-body">
              {{ q4 }}
            </div>
          </div>
        </div>
        <div class="form-group">
          <p>
            <a
              class="btn btn-secondary"
              data-toggle="collapse"
              href="#q5"
              role="button"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              {{ survey.question5 }}
            </a>
          </p>
          <div class="collapse" id="q5">
            <div class="card card-body">
              {{ q5 }}
            </div>
          </div>
        </div>
        <fieldset class="form-group text-center">
          <a
            href="/survey-list"
            class="btn btn-warning mx-1"
            style="margin: 10px;"
            ><i class="fa fa-undo"></i> Back</a
          >
        </fieldset>
      </form>
      <br /><br /><br />
    </div>
  </div>
</div>
