<!--
/*
This Application Made for Emerging Technology COMP308_2019W
Peiran Liu - 300884514
Din Khiieu Lanh - 300960476
Liwen Qiao - 300907835
Heeyeong Kim - 300954759
Hyojin Kim - 300950009
 */

-->
<div
style="width:900px; height: 480px; position: bottom; top: 0px;left: 0px; right: 0px; bottom: 0px; margin: auto; text-align: center; background-image: url(../assets/bg1.jpg); ">
<div class="container" style="width: 600px; margin: 0 auto; padding-top: 2%; padding-bottom: 5%">
<h3 class="text-left" style="color: rgb(0,148,193)">Choose Survey</h3>
<div class="row">
    <div class="col-md-offset-3 col-md-12" >
      <br>
      <table class="table table-bordered table-hover " style="border:2px; border-radius:25px">
        <thead class="thead-dark">
          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Description</th>
            <th>Start Time</th><th>End Time</th><th>Survey Status</th>
          </tr>
        </thead>

        <!-- Repeatable Template Row -->
        <tr *ngFor="let survey of surveys">
          <td class="text-center" style="color: rgb(233,233,233)">{{ survey.name }}</td>
          <td class="text-center" style="color: rgb(233,233,233)">{{ survey.description }}</td>
          <td class="text-center" style="color: rgb(233,233,233)">{{ survey.startDate | date: 'MM/dd/yyyy' }}</td>
          <td class="text-center" style="color: rgb(233,233,233)">{{ survey.endDate | date: 'MM/dd/yyyy'}}</td>
          <td  class="text-center">
            <a *ngIf="survey.status === 'activated'" routerLink="/take-survey-detail/{{ survey._id }}" class="btn btn-outline-info"
              ><i class="fas fa-pencil-alt"></i>
              Take Survey
            </a>

            <a *ngIf="survey.status === 'out of time'"  class="btn btn-primary"
              ><i class="fas fa-pencil-alt"></i>
              Out of time
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
