<div class="container" style="width: 600px; margin: 0 auto; padding-top: 2%; padding-bottom: 5%">
    <h1 class="display-4 text-center">Surveys</h1>
  <div class="row">
    <div class="col-md-offset-3 col-md-12">
      <br />
      <table class="table table-bordered table-striped table-hover">
        <!-- Header Row-->
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Description</th>
        </tr>

        <!-- Repeatable Template Row -->
        <tr *ngFor="let survey of surveys">
          <td class="text-center">{{ survey.name }}</td>
          <td class="text-center">{{ survey.description }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
