
<!--
This Application Made for Emerging Technology COMP308_2019W
Heeyeong Kim
Hyojin Kim
Din Khiieu Lanh
Peiran Liu
Liwen Qiao

-->
<div class="container" style="width: 700px; margin: 0 auto; padding-top: 2%; padding-bottom: 5%">
  <h1 class="display-4 text-center" style="color: rgb(0,148,193)">{{title}}</h1>
  <div class="row justify-content-center">
    <div class="col-md-offset-3 col-md-8">
      <form action="" class="form" (submit)="onSaveChanges()">
        <div class="form-group">
          <label for="UsernameTextField" style="color: rgb(0,148,193)">Username</label>
          <input type="text" class="form-control" id="UsernameTextField" placeholder="Enter New Username"
            name="username" [(ngModel)]="user.username" value="{{user.username}}" />
        </div>
        <div class="form-group">
          <label for="EmailTextField" style="color: rgb(0,148,193)">Email</label>
          <input type="text" class="form-control" id="EmailTextField" placeholder="Enter New Email"
            name="email" [(ngModel)]="user.email" value="{{user.email}}"  />
        </div>
        <div class="form-group">
          <label for="DisplayNameTextField" style="color: rgb(0,148,193)">Display Name</label>
          <input type="text" class="form-control" id="DisplayNameTextField" placeholder="Enter New Display Name"
            name="displayName" [(ngModel)]="user.displayName" value="{{user.displayName}}"/>
        </div>
        <fieldset class="form-group text-center">
          <button type="submit" class="btn btn-primary"  style="margin: 10px;">
            <i class="fa fa-edit"></i>
            Save Changes
          </button>
          <a routerLink="/my-info" class="btn btn-warning mx-1"  style="margin: 10px;"><i class="fa fa-undo"></i> Cancel</a>
        </fieldset>
      </form>
    </div>
  </div>
</div>
