
<!--
/*
This Application Made for Emerging Technology COMP308_2019W
Peiran Liu - 300884514
Din Khiieu Lanh - 300960476
Liwen Qiao - 300907835
Heeyeong Kim - 300954759
Hyojin Kim - 300950009
 */

-->
<!-- <li *ngIf="isLoggedIn()" class=" text-success ml-5 mr-5 d-none d-lg-inline">
  User name: {{ user.username }}
</li>

<li *ngIf="isLoggedIn()" class=" text-success ml-5 mr-5 d-none d-lg-inline">
  User email: {{ user.email }}
</li>

<li *ngIf="isLoggedIn()" class=" text-success ml-5 mr-5 d-none d-lg-inline">
  Your display name: {{ user.displayName }}
</li> -->
<div class="container" style="padding-top: 2%">
    <div class="card" style="width: 25rem; border-width: 5px;border-color: rgb(0,148,193)">
        <h5 class="card-header" >My Information</h5>
        <div class="card-body">
          <h5 class="card-title">Username: {{ user.username }}</h5>
          <p class="card-text">Email: {{ user.email }}</p>
          <p class="card-text">Display Name: {{ user.displayName }}</p>
          <a routerLink="/my-info-details" _ngcontent-c2 class="btn btn-dark btn-block" style="background-color:rgb(0,148,193); color:black">
            <i class="fas fa-pencil-alt"></i> Edit
          </a>
        </div>
      </div>
</div>


