<!-- <li *ngIf="isLoggedIn()" class=" text-success ml-5 mr-5 d-none d-lg-inline">
  User name: {{ user.username }}
</li>

<li *ngIf="isLoggedIn()" class=" text-success ml-5 mr-5 d-none d-lg-inline">
  User email: {{ user.email }}
</li>

<li *ngIf="isLoggedIn()" class=" text-success ml-5 mr-5 d-none d-lg-inline">
  Your display name: {{ user.displayName }}
</li> -->
<div class="container" style="padding-top: 2%">
    <div class="card" style="width: 25rem;">
        <h5 class="card-header">My Information</h5>
        <div class="card-body">
          <h5 *ngIf="isLoggedIn()" class="card-title">Name: {{ user.username }}</h5>
          <p *ngIf="isLoggedIn()" class="card-text">Email: {{ user.email }}</p>
          <p *ngIf="isLoggedIn()" class="card-text">Display Name: {{ user.id }}</p>
        </div>
      </div>
</div>


